{
  "parser": "babel-eslint",
  "plugins": [
    "react"
  ],
  "globals": {
    "fetch": false
  },
  "env": {
    "browser": true
  },
  "rules": {
    "no-console": "off"
  },
  "extends": ["eslint:recommended", "plugin:react/recommended"]
}
